.features{

    .cards-wrapper{
        position: relative;
        // border: 2px solid red;
        width: 100%;

    padding: 0 100px;
    .cards{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap:80px;
    }   
}
