.arrival{
    margin-top: 50px;

    .titleBox{
        padding: 0 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        small{
            color: rgba(190, 18, 60, 1);
            
        }
    }
}

    // .cards-wrapper{
    //     position: relative;
    //     // border: 2px solid red;
    //     width: 100%;

    //     .sliderArrow{
    //         width: 50px;
    //         height: 100%;
    //         color: grey;
    //         position: absolute;
    //         z-index: 1;
    //         top: 0;
    //         bottom: 0;
    //         margin: auto;
    //         z-index: 99;
    //         &.left{
    //             left: 0;
    //         }

    //         &.right{
    //             right: 0;
                

    //         }
    //     }


    //     .cards{
          
    //         display: flex;
    //         align-items: center;
    //         gap: 100px;
    //         width:90%;
    //         margin: 0 100px;
    //         transform: translateX(0px);
    //         transition: all 1s ease-in;
        
    //     }   
    // }
